body {
    padding: 10px;
}

 .listing-card {
    box-shadow: 10px 5px 5px gray; 
    border-width: 2px; 
    border-color: black; 
    border-style: solid; 
    padding: 10px;
    margin: 10px;
}

.listing-img
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.comment-box
{
    padding: 10px;
    border-width: 2px; 
    border-color: lightgray;
    border-style: solid;
    margin: 10px;
}